<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
        <title>TC4 Vue.js</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <h3>Tarea Corta 4</h3>
        </div>
        <br>
        <form id="form">
            <select id="provincia" name="provincia" onchange="cantones(this.options[this.selectedIndex].value);" required>
                <option value="">Seleccionar una provincia</option>
                <option v-for="provincia in provincias" v-bind:value="provincia.id">{{provincia.nombre}}</option>
            </select>
            <br />
            <br />

            <select id="canton" name="canton" onchange="provincia=document.getElementById('canton');distritos(provincia.options[provincia.selectedIndex].value, this.options[this.selectedIndex].value);" required>
                <option value="">Seleccionar un cantón</option>
                <option v-for="canton in cantones" v-bind:value="canton.id">{{canton.nombre}}</option>
            </select>
            <br />
            <br />

            <select id="distrito" name="distrito" onchange="canton=document.getElementById('canton');provincia=document.getElementById('provincia');distritos(provincia.options[provincia.selectedIndex].value, canton.options[canton.selectedIndex].value);" required>
                <option value="">Seleccionar un distrito</option>
                <option v-for="distrito in distritos" v-bind:value="distrito.id">{{distrito.nombre}}</option>
            </select>
        </form>
        <script>
            var form = new Vue({
               el: '#form',
               data: {
                  provincias: [],
                  cantones: [],
                  distritos: []
               },
               created: function(){
                     this.$http.get('provincias.php').then(function(response){
                     this.provincias = response.body;
                  }, function(){
                     alert('Error!');
                  });
                 }
               });
               
          function cantones(id) {
                form.$http.post('cantones.php', 
                    {
                        id: id
                    }
                ).then(function(response){
                    form.cantones = response.body;
                }, function(){
                    alert('Error!');
                });
          }

          function distritos(provincia, canton) {
              form.$http.post('distritos.php',
              {
                  provincia: provincia,
                  canton: canton
              }
              ).then(function(response){
                  form.distritos = response.body;
              }, function(){
                  alert('ERROR!!!')
              });
          }
        </script>
    </body>
</html>